.btn-edit {
    background-color: #e76726 !important; /* compass orange */
    color: #fff !important;
    border: none;
    transition: background 0.2s;
}
.btn-edit:hover {
    background-color: #ffb380 !important;
}
.btn-delete {
    background-color: #ff3333 !important; /* strong red */
    color: #fff !important;
    border: none;
    transition: background 0.2s;
}
.btn-delete:hover {
    background-color: #b30000 !important;
}
.btn-dark {
    background-color: #e76726 !important;
    border-color: #e76726 !important;
}
body{
   font-family:"Plus Jakarta Sans", sans-serif !important;
   display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    font-size: 2rem;
    color: #e76726;
}
.nav-link{
    font-size: 1.2rem;
    margin-right: 1rem;
    color: black !important;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;
    flex:space-evenly;


}

.f-info-links a:hover{
    text-decoration: underline;
 
} 
.f-info-socials i{
    margin-right: 1rem;
     font-size: 1.2rem;
}

.f-info-socials{
    
    font-size: 1.2rem;
    
    vertical-align: middle;
    
}
.f-info-links,.f-info-socials, .f-info-brand{
    width:100%;
     display:flex;
     align-items: center;
     justify-content: center;


}
  .f-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    vertical-align: middle;
  }

.card{
    border: none !important;
    margin-bottom: 1rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:  0 !important;
}
.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
   
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem !important;
}
.show-img{

    height: 30wh !important;
    object-fit: cover !important;
    border-radius: 1rem !important;
}
.btns{
    display: flex;
   
    
    gap: 1rem;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}